<!DOCTYPE html>
<html>
<!-- header section -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        /* General spacing configuration */
        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        /* Force Outlook to provide a "view in browser" message */
        #outlook a {
            padding: 0;
        }

        /* Force Hotmail to display emails at full width and normal line spacing */
        .ReadMsgBody,
        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        /* Prevent WebKit and Windows mobile changing default text sizes */
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        /* Remove spacing between tables in Outlook 2007 and up */
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        /* Allow smoother rendering of resized image in Internet Explorer */
        img {
            -ms-interpolation-mode: bicubic;
        }

        /* Block text decoration in hover link effect */
        .link-hover:hover {
            text-decoration: none !important;
        }

        /* Block font family style for outlook */
        body,
        table .MsoNormalTable {
            font-family: Arial, Verdana, Helvetica !important;
        }

    </style>
</head> <!-- end header section -->

<body>
    <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px !important;font-family: Arial, Verdana, Helvetica;border-collapse:collapse;height: auto;" bgcolor="f0f0f0">
        <tr>
            <td style="padding: 28px;">
                <table align="center" valign="top" cellpadding="0" cellspacing="0" bgcolor="ffffff" style="text-align:left;vertical-align: top;align-content: center; border:1px solid #dfdfdf;box-shadow: 0px 2px 5px 1px #d3d3d3;">
                    <tr>
                        <td valign="top" align="center" style="padding-top:10px;"><img src="cid:header@hwc.multilogo.com" border="0" style="display:block;"></td>
                    </tr>
                    <tr>
                        <td style="padding: 0 33px;">
                            <table width="100%" border="0" valign="top" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                           
                                
                                
                                
                                
                             <tr>
                                    <td style="padding-top:80px; padding-bottom: 30px"><span style="font-size: 18px; " id="ingles">Estimado,</span></td>
                                </tr>
                       
                                <tr>
                                    <td style="color:#444444;font: 14px Arial, Verdana, Helvetica; line-height:22px;padding-bottom:15px;">
                                        <!-- license assigned section -->
                       

                                        <p>Se ha solicitado el borrado de la cuenta <strong>{{domainName}}</strong>. </p><p>Recuerda que debes realizar la operación correspondiente en el portal de Huawei Cloud, abriendo un ticket.</p>
                                        
                                    </td>
                                </tr>
                                
                            <tr>
                                    <td style="color:#444444;font: 14px Arial, Verdana, Helvetica; line-height:22px;padding-bottom:40px; padding-top: 40px"> <span style="font: 13px Arial, Verdana, Helvetica;color:#000000;">Gracias.</span> <br /><br /> <span style="font-family: Arial, Verdana, Helvetica; font-size: 13px; "><strong>Equipo Huawei Cloud</strong></span> </td>
                                </tr>
                                
                                
                                
                                
                                
                                
                                
                            </table>
                        </td>
                    </tr>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <tr>
                        <td valign="top" align="center" style="padding-top:20px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 28px 28px 28px;">
                <!-- footer section -->
                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td valign="top" style="padding:5px 0px 13px 0px"><img src="cid:footer@telefonica.com" style="display:block; height:auto;" /></td>
                        <td valign="top" style="padding:5px 0px 13px 0px" align="right"><img src="cid:trans@telefonica.com" style="display:block; height:auto;" /></td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align:left;" colspan="2"> <span style="font-size: 9px; color:#666666">Por favor, no responda a este correo, ya que ha sido generado automáticamente y se encuentra en un buzón desatendido. En caso de duda, contacte con nuestro departamento de soporte.</span> </td>
                    </tr>
                </table> <!-- footer section -->
            </td>
        </tr>
    </table>
</body>

</html>
